body{
    background-color: black;
}

.container2{
    width: 595px;
    height: 355px;
    background-color: rgb(212,8,19);
    margin:0 auto;
}

.fence2{
    width: 595px;
    height: 355px;
    background-image: url("img/fence2.jpg");
    margin: 0 auto;
}

.fence4{
    width: 595px;
    height: 355px;
    background-image: url("img/fence4.jpg");
    margin: 0 auto;
}

.fence6{
    width: 595px;
    height: 355px;
    background-image: url("img/fence6.jpg");
    margin: 0 auto;
}

.fence8{
    width: 595px;
    height: 355px;
    background-image: url("img/fence8.jpg");
    margin: 0 auto;
}

.fence10{
    width: 595px;
    height: 355px;
    background-image: url("img/fence10.jpg");
    margin: 0 auto;
}

.fence12{
    width: 595px;
    height: 355px;
    background-image: url("img/fence12.jpg");
    margin: 0 auto;
}

.fence14{
    width: 595px;
    height: 355px;
    background-image: url("img/fence14.jpg");
    margin: 0 auto;
}

.fence16{
    width: 595px;
    height: 355px;
    background-image: url("img/fence16.jpg");
    margin: 0 auto;
}

.fence18{
    width: 595px;
    height: 355px;
    background-image: url("img/fence18.jpg");
    margin: 0 auto;
}

.fence20{
    width: 595px;
    height: 355px;
    background-image: url("img/fence20.jpg");
    margin: 0 auto;
}

.fence22{
    width: 595px;
    height: 355px;
    background-image: url("img/fence22.jpg");
    margin: 0 auto;
}

.fence24{
    width: 595px;
    height: 355px;
    background-image: url("img/fence24.jpg");
    margin: 0 auto;
}

.fence26{
    width: 595px;
    height: 355px;
    background-image: url("img/fence26.jpg");
    margin: 0 auto;
}

.fence28{
    width: 595px;
    height: 355px;
    background-image: url("img/fence28.jpg");
    margin: 0 auto;
}

.fence30{
    width: 595px;
    height: 355px;
    background-image: url("img/fence30.jpg");
    margin: 0 auto;
}

.fence32{
    width: 595px;
    height: 355px;
    background-image: url("img/fence32.jpg");
    margin: 0 auto;
}

.fence34{
    width: 595px;
    height: 355px;
    background-image: url("img/fence34.jpg");
    margin: 0 auto;
}

.fence36{
    width: 595px;
    height: 355px;
    background-image: url("img/fence36.jpg");
    margin: 0 auto;
}

.fence38{
    width: 595px;
    height: 355px;
    background-image: url("img/fence38.jpg");
    margin: 0 auto;
}

.fence40{
    width: 595px;
    height: 355px;
    background-image: url("img/fence40.jpg");
    margin: 0 auto;
}

.fence42{
    width: 595px;
    height: 355px;
    background-image: url("img/fence42.jpg");
    margin: 0 auto;
}

.fence44{
    width: 595px;
    height: 355px;
    background-image: url("img/fence44.jpg");
    margin: 0 auto;
}

.fence46{
    width: 595px;
    height: 355px;
    background-image: url("img/fence46.jpg");
    margin: 0 auto;
}

.fence48{
    width: 595px;
    height: 355px;
    background-image: url("img/fence48.jpg");
    margin: 0 auto;
}

.fence50{
    width: 595px;
    height: 355px;
    background-image: url("img/fence50.jpg");
    margin: 0 auto;
}

.fence52{
    width: 595px;
    height: 355px;
    background-image: url("img/fence52.jpg");
    margin: 0 auto;
}

.fence54{
    width: 595px;
    height: 355px;
    background-image: url("img/fence54.jpg");
    margin: 0 auto;
}

.fence56{
    width: 595px;
    height: 355px;
    background-image: url("img/fence56.jpg");
    margin: 0 auto;
}

.fence58{
    width: 595px;
    height: 355px;
    background-image: url("img/fence58.jpg");
    margin: 0 auto;
}

.fence60{
    width: 595px;
    height: 355px;
    background-image: url("img/fence60.jpg");
    margin: 0 auto;
}

.fence62{
    width: 595px;
    height: 355px;
    background-image: url("img/fence62.jpg");
    margin: 0 auto;
}

.fence64{
    width: 595px;
    height: 355px;
    background-image: url("img/fence64.jpg");
    margin: 0 auto;
}

.fence66{
    width: 595px;
    height: 355px;
    background-image: url("img/fence66.jpg");
    margin: 0 auto;
}

.fence68{
    width: 595px;
    height: 355px;
    background-image: url("img/fence68.jpg");
    margin: 0 auto;
}

.fence70{
    width: 595px;
    height: 355px;
    background-image: url("img/fence70.jpg");
    margin: 0 auto;
}

.fence72{
    width: 595px;
    height: 355px;
    background-image: url("img/fence72.jpg");
    margin: 0 auto;
}

.fence74{
    width: 595px;
    height: 355px;
    background-image: url("img/fence74.jpg");
    margin: 0 auto;
}

.fence76{
    width: 595px;
    height: 355px;
    background-image: url("img/fence76.jpg");
    margin: 0 auto;
}

.fence78{
    width: 595px;
    height: 355px;
    background-image: url("img/fence78.jpg");
    margin: 0 auto;
}

.fence80{
    width: 595px;
    height: 355px;
    background-image: url("img/fence80.jpg");
    margin: 0 auto;
}

.fence82{
    width: 595px;
    height: 355px;
    background-image: url("img/fence82.jpg");
    margin: 0 auto;
}

.fence84{
    width: 595px;
    height: 355px;
    background-image: url("img/fence84.jpg");
    margin: 0 auto;
}

.fence86{
    width: 595px;
    height: 355px;
    background-image: url("img/fence86.jpg");
    margin: 0 auto;
}

.fence88{
    width: 595px;
    height: 355px;
    background-image: url("img/fence88.jpg");
    margin: 0 auto;
}

.fence90{
    width: 595px;
    height: 355px;
    background-image: url("img/fence90.jpg");
    margin: 0 auto;
}

.button1 {
    width: 149px;
    height: 89px;
    position: fixed;
    bottom: 0;
    left: 44%;
    background-image: url(img/button1.jpg);
    color: rgb(255,255,255);
    text-align: center;
    font-size: xx-large;
}

.button2 {
    width: 149px;
    height: 89px;
    border-radius: 5px;
    border: 6px solid rgb(255,255,255);
    position: fixed;
    bottom: 0;
    left: 44%;
    background-color: rgb(212,8,19);
    color: rgb(255,255,255);
    text-align: center;
    font-size: xx-large;
    padding-top: 45px;
}



.item0{
    color: rgb(255,255,255);
    margin: 0 auto;
    font-size: x-large;
}

.item2{
    color: rgb(255,255,255);
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(32,33,77)
}

.item3{
    color: rgb(212,8,19);
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(255,255,255);
}

.item4{
    color: rgb(32,33,77);
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(32,33,77);
}

.item5{
    color: rgb(255,255,255);
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(255,255,255);
}

.item6{
    color: rgb(212,8,19);
    margin: 0 auto;
    font-size: x-large;
    background-color: rgb(212,8,19);
}